.contact{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 80px;
    margin: 40px 90px;
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: 0px 30px;
    font-size: 40px;
    font-weight: 600;
}
.contact-title img{
    position: absolute;
    justify-content: center;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.contact-section{
    display: flex;
    gap: 150px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-left h1{
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: 550px;
    color: black;
    font-size: 20px;
    line-height: 30px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: black;
    font-size: 22px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.contact-right label{
    color: black;
    font-size: 22px;
    font-weight: 500;
}
.contact-right input{
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #dfdbdb;
    color: #1c1c1c;
    font-family: Outfit;
    font-size: 20px;
}
.contact-right textarea{
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #dfdbdb;
    color: #1c1c1c;
    font-family: Outfit;
    font-size: 20px;
}
.contact-submit{
    border: none;
    color: black;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    font-size: 22px;
    font-weight: 400;
    font-family: Outfit;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 20px 60px;
}
.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
@media(max-width:768px){
    .contact{
        gap: 40px;
        margin: 40px 60px;
        align-items: start;
    }
    .contact-title h1{
        padding: 0;
        font-size: 45px;
        font-weight: 600;
    }
    .contact-title img{
        width: 130px;
        margin-right: -20px;
    }
    .contact-section{
        flex-direction: column;
    }
    .contact-left h1{
        font-size: 45px;
    }
    .contact-left p{
        width: 600px;
        font-size: 15px;
    }
    .contact-detail img{
        width: 25px;
    }
    .contact-right label{
        font-size: 20px;
    }
    .contact-right input{
        width: 100%;
        font-size: 20px;
    }
    .contact-right textarea{
        width: 95%;
        font-size: 20px;
    }
    .contact-submit{
        font-size: 20px;
        padding: 15px 40px;
    }
}